body {
    background-color: grey;
}

.rangee1 img {
    width: 165px;
    height: 244.28px;
}
.text1{
    float: left;
  width: 100px;
  margin: 0;
}

.text{
    float: right;
  width: 100px;
  margin: 0;
    
}
.padding{
    margin:0; 
}